.about-img-gallery-container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  .about-img-gallery-main-img {
    border-radius: 7.5px;
  }
  .about-img-gallery-options {
    margin-top: 15px;
    display: flex;
    gap: 10px;
    border-radius: 7.5px;
    img {
      border-radius: 7.5px;
      cursor: pointer;
      &.active {
        border: 2px solid black !important;
      }
    }
  }
}
