@forward 'iletisim';
@forward 'hakkimizda';
.catalog-container {
  display: grid;
  // grid-template-columns: auto auto auto;
  grid-template-rows: 310px 310px 310px;
  gap: 20px;
  img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
  }
  span {
    width: 100% !important;
    height: 100% !important;
    border-radius: 30px;
  }
  a {
    cursor: pointer;
  }
  margin-bottom: 50px;
}
.catalog-card-title {
  top: 20px;
  left: 20px;
  position: absolute;
  z-index: 1;
  font-weight: 700;
  font-size: 32px;
  color: #ffffff;
}
.catalog-card-btn {
  width: 170px;
  height: 47px;
  bottom: 20px;
  right: 20px;
  position: absolute;
  z-index: 1;
  border: none;
  font-weight: 700;
  font-size: 14px;
  border-radius: 32px;
  cursor: pointer;
  background: #ffffff;
}

.catalog-card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  img {
    transition: 0.3s all ease-in-out;
    filter: brightness(70%);
  }
  &:hover {
    img {
      filter: brightness(40%);
      transform: scale(1.2);
    }
  }
}

.catalog-card1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.catalog-card2 {
  grid-column-start: 3;
  grid-column-end: 4;
}

.catalog-card3 {
  grid-row-start: 2;
  grid-row-end: 4;
}

.catalog-card4 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 4;
}
.catalog-card5 {
  grid-column-start: 2;
  grid-column-end: 3;
}
.catalog-card6 {
  grid-column-start: 3;
  grid-column-end: 4;
}
