@use '../variables' as *;

.footer {
  margin-top: 20px;
  width: 100%;
  &__cols {
    display: flex;
    justify-content: space-between;
    max-width: 1366px;
    margin: 0 auto;
    padding: 10px 20px 20px 20px;
    @media screen and (max-width: $phone) {
      flex-direction: column;
      gap: 15px;
    }
    &__container {
      width: 100%;
      background-color: #f5f7fa;
    }
    & > div {
      display: flex;
      flex-direction: column;
      gap: 10px;
      @media screen and (max-width: $phone) {
        width: 100%;
      }
    }
    &__cats {
      width: 37%;
    }
    &__contact {
      width: 26%;
      p {
        line-height: 1.7;
      }
    }
    &__map {
      width: 37%;
    }
  }
  &__category-container {
    display: flex;
    gap: 100px;
    @media screen and (max-width: $phone) {
      gap: 20px;
    }
    & > div {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }
  &__copyright {
    padding: 24px 0;
    text-align: center;
  }
  &-title {
    font-weight: 600;
    font-size: 24px;
    // text-decoration: underline;
    line-height: 48px;
    color: #000000;
  }
  &-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
  }
  &-social {
    display: flex;
    gap: 10px;
    img {
      transition: all 0.2s ease-in-out;
      cursor: pointer;
    }
    img:hover {
      opacity: 0.6;
    }
  }
}
