//spacing
$spacing: 20px;
$spacing-half: calc($spacing / 2);
$spacing-third: calc($spacing / 3);

//colors
$color-primary: #15133c;
$color-primary-dark: #0d0c29;
$color-primary-light: #24225a;

$color-secondary: #205375;
$color-secondary-dark: #112b3c;
$color-secondary-light: #0aa1dd;

$color-text: #1b1b1b;
$color-text-dark: #000000;
$color-text-light: #7c818c;

//screens
$phone: 800px;
