//spacing
$spacing: 20px;
$spacing-half: calc($spacing / 2);
$spacing-third: calc($spacing / 3);

//colors
$color-primary: #00bcd4;
$color-primary-dark: #00acc2;
$color-primary-light: #00d3ee;

$color-secondary: #00bcd4;
$color-secondary-dark: #00acc2;
$color-secondary-light: #00d3ee;

$color-text: #1b1b1b;
$color-text-dark: #000000;
$color-text-light: #7c818c;

//screens
$phone: 800px;
