@use 'variables' as *;

@mixin hr($color) {
  border-top: 1px solid $color;
  border-bottom: none;
  margin: $spacing-half 0;
}

@mixin flex($justify: normal, $align: normal, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

hr.primary {
  @include hr($color-primary);
}

hr.secondary {
  @include hr($color-secondary);
}

hr.light {
  @include hr(#cacaca);
}

.scroll {
  scrollbar-color: #231123 #431123;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: #231123;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    border-radius: 5px;
    background-clip: padding-box;
    background: #231123;
  }
}
