// Landing page'deki büyük slider custom arrow ve dot
.landing-slider {
  margin-top: 20px;
  img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
  }
  .slick-next {
    right: 10px;
    z-index: 1;
    &::before {
      padding-top: 5px;
      padding-left: 4px;
      padding-right: 5px;
      font-size: 40px;
      opacity: 0.9;
      border-radius: 100px;
      color: #000;
      background-color: #fff;
    }
  }
  .slick-prev {
    left: -20px;
    z-index: 1;
    &::before {
      padding-top: 5px;
      padding-left: 5px;
      padding-right: 3px;
      background-color: #fff;
      border-radius: 100px;
      color: #000;
      font-size: 40px;
      opacity: 0.9;
    }
  }
  .slick-dots li button::before {
    font-size: 16px;
  }
}

.products-slider {
  img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
  }
  .slick-next {
    z-index: 1;
    &::before {
      font-size: 30px;
      opacity: 0.9;
      color: #000;
    }
  }
  .slick-prev {
    z-index: 1;
    left: -32px;
    &::before {
      font-size: 30px;
      opacity: 0.85;
      color: #000;
    }
  }
}
